{% extends "base.html" %}


{% block main %}
<div class="container mt-4">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </br>
    <h1>Account Info</h1>
    <p>
        <label>Username</label>
        <input class="form-control" type="text" placeholder={{ '%s'%current_user.username }} readonly>
    </p>
    <p>
        <label>Email</label>
        <input class="form-control" type="text" placeholder={{ '%s'%current_user.email }} readonly>
    </p>
    </br>
    <h3>Change Password</h3>
    <form action="/account_info" method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.original_password.label }}<br>
            {{ form.original_password(size=32, class_="form-control", placeholder="Password" ) }}
        </p>
        <p>
            {{ form.new_password.label }}<br>
            {{ form.new_password(size=32, class_="form-control", placeholder="New Password" ) }}
        </p>
        <p>
            {{ form.new_password_repeat.label }}<br>
            {{ form.new_password_repeat(size=32, class_="form-control", placeholder="Repeat New Password" ) }}
        </p>
        <p>{{ form.submit(class_="btn btn-primary") }}</p>
    </form>
    <a href="/delete_account">Delete your account</a>
</div>
{% endblock %}