{% extends "base.html" %}

{% block main %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </br>
    <h1><strong>Total</strong>: {{ "$%.2f"|format(total) }}</h1></br>
    <form action="/checkout" method="POST" class="form-group">
        {{ form.hidden_tag() }}
        <p>
            {{ form.address.label }}
            {{ form.address(size=32, class_="form-control") }}
        </p>
        <p>
            {{ form.billing.label }}
            {{ form.billing(size=32, class_="form-control") }}
        </p>
        <p>
            {{ form.submit(class_="btn btn-primary") }}
        </p>
    </form>
{% endblock %} 