{% extends "base.html" %}


{% block main %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </br>
    <h1>Delete Account.</h1>
    <form action="/delete_account" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-check">
            {{ form.confirm.label }}
            {{ form.confirm(class_="form-check-input") }}
        </div>
        </br>
        <p>{{ form.submit(class_="btn btn-danger") }}</p>
    </form>
{% endblock %}