{% extends "base.html" %}

{% block main %}
    <div class="container">
        </br>
        <h1>Discounts</h1>
        <h2>Sitewide Discounts</h2>
        <table class="table table-hover table-striped ">
            <thead>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Expiration</th>
                <th scope="col">Amount</th>
            </tr>
            </thead>
            <tbody>
            {% for discount in a_discounts %}
                <tr>
                    <td>{{ discount.code }}</td>

                    <td>{{ discount.expiration }}</td>

                    <td>{{ discount.amount }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h2>Category Discounts</h2>
        <table class="table table-hover table-striped ">
            <thead>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Expiration</th>
                <th scope="col">Amount</th>
                <th scope="col">Applicable Categories</th>
            </tr>
            </thead>
            <tbody>
            {% for discount in c_discounts %}
                <tr>
                    <td>{{ discount.code }}</td>

                    <td>{{ discount.expiration }}</td>

                    <td>{{ discount.amount }}</td>

                    <td>
                        <ul>
                            {% for category in discount.categories %}
                                <li><a href="{{ '/category/%s' %category.id }}">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h2>Product Discounts</h2>
        <table class="table table-hover table-striped ">
            <thead>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Expiration</th>
                <th scope="col">Amount</th>
                <th scope="col">Applicable Products</th>
            </tr>
            </thead>
            <tbody>
            {% for discount in p_discounts %}
                <tr>
                    <td>{{ discount.code }}</td>

                    <td>{{ discount.expiration }}</td>

                    <td>{{ discount.amount }}</td>

                    <td>
                        <ul>
                            {% for product in discount.products %}
                                <li><a href="{{ '/product/%s' %product.id }}">{{ product.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %} 