{% extends "merchant_base.html" %}


{% block main %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </br>
    <div class="row">
        <div class="col-xs-4 jumbotron">
            <h1>Register as a Merchant</h1>
            <form action="/merchant/register" method="POST" class="form-group">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.email.label }}<br>
                    {{ form.email(size=32, class_="form-control", placeholder="Email" ) }}
                </p>
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=32, class_="form-control", placeholder="Username" ) }}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32, class_="form-control", placeholder="Password" ) }}
                </p>
                <p>{{ form.submit(class_="btn btn-primary") }}</p>
            </form>
            <a href="/merchant/login">Login to existing account</a>
        </div>
    </div>
{% endblock %}