{% extends "merchant_base.html" %}


{% block main %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </br>
    <div class="row">
        <div class="col-xs-4">
            <h1>Create a new product</h1>
            <form action="/merchant/new_product" method="POST" class="form-group" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                {{ form.merchant_id(value=id) }}
                <p>
                    {{ form.name.label }}<br>
                    {{ form.name(size=32, class_="form-control", placeholder="Product Name" ) }}
                </p>
                <p>
                    {{ form.price.label }}<br>
                    {{ form.price(size=32, class_="form-control", placeholder="Product Price" ) }}
                </p>
                <p>
                    {{ form.description.label }}<br>
                    {{ form.description(class_="form-control") }}
                </p>
                <p>
                    {{ form.category.label }}<br>
                    {{ form.category(class_="form-control") }}
                </p>
                <p>
                <div class="mb-3">
                    {{ form.pictures.label(class_="form-label") }}<br>
                    {{ form.pictures(class_="form-control form-control-lg") }}
                </div>
                </p>
                <p>{{ form.submit(class_="btn btn-primary") }}</p>
            </form>
        </div>
    </div>
{% endblock %}