{% extends "merchant_base.html" %}


{% block main %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </br>
    <h1 class="pb-3 mb-4 border-bottom mt-2" align="center">Register as a Merchant</h1>
    <form action="/merchant/register" method="POST"  class=" container d-flex justify-content-center py-1 mb-3">
        <div class="d-flex flex-column bg-light p-5 border border-2 border-dark rounded-3">
            {{ form.hidden_tag() }}
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=32, class_="form-control", placeholder="Email" ) }}
            </p>
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32, class_="form-control", placeholder="Username" ) }}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32, class_="form-control", placeholder="Password" ) }}
            </p>
            <p>{{ form.submit(class_="btn btn-primary") }}</p>
            <a href="/merchant/login">Login to existing account</a>
        </div>
    </form>
                    
                
{% endblock %}