{% extends "base.html" %}


{% block main %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </br>
    <h1>Product ID: {{ product_id }}</h1>
    <p><a href="/product/{{ product_id }}/reviews">Review</a></p>
    {% if reviews %}
        <p>Average Rating: {{ avg }}</p>
        <br>
        {% for review in reviews %}
            {% if review.Review.body %}
                <p>
                    <b>{{ review.User.username }}</b> gave a rating of {{ review.Review.rating }}:
                    <br>
                    {{ review.Review.body }}
                </p>
                <br>
            {% else %}
                <p>
                    <b>{{ review.User.username }}</b> gave a rating of {{ review.Review.rating }}
                </p>
                <br>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}