{% extends "base.html" %}

{% block main %}
<div class="container mt-4">
    <header class="pb-3 mb-4 border-bottom">
        <h1>Results</h1>
    </header>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ '/product/%s' %product.id }}">{{ product.name }}</a></td>
                <td>{{ "$%.2f"|format(product.price) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div/>
{% endblock %}